<link uic-remove rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link uic-remove rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.min.css">
<link uic-remove rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
<style>
    .vertical-offset-100 {
        padding-top: 100px;
    }

    .login-or-container {
        text-align: center;
        margin: 0;
        margin-bottom: 10px;
        clear: both;
        color: #6a737c;
        font-variant: small-caps;
    }

    .login-or-hr {
        margin-bottom: 0;
        position: relative;
        top: 28px;
        height: 0;
        border: 0;
        border-top: 1px solid #e4e6e8;
    }

    .login-or {
        display: inline-block;
        position: relative;
        padding: 10px;
        background-color: #FFF;
    }

    .login-picture {
        height: 120px;
        border-radius: 3px;
        margin-bottom: 10px;
    }
</style>