[Unit]
Description=8x8 draught/checkers realtime game
Requires=network.target
After=multi-user.target

[Service]
Type=simple
Environment=GOOGLE_CLIENT_ID={{.GOOGLE_CLIENT_ID}}
Environment=GOOGLE_CLIENT_SECRET={{.GOOGLE_CLIENT_SECRET}}
PassEnvironment=GOOGLE_CLIENT_ID GOOGLE_CLIENT_SECRET
ExecStart=/usr/local/bin/8x8

[Install]
WantedBy=multi-user.target