[Unit]
Description=8x8 draught/checkers realtime game
Requires=network.target
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/local/bin/8x8
EnvironmentFile=/etc/8x8/8b8.env
PassEnvironment=GOOGLE_CLIENT_ID GOOGLE_CLIENT_SECRET

[Install]
WantedBy=multi-user.target